$--color-hcf-red: #a51f1e;
$--color-hcf-blue: #1362b5;
$--color-hcf-black: #000;
$--color-hcf-ddark-brown: #2b1d07;
$--color-hcf-dark-brown: #472900;
$--color-hcf-brown: #472900;
$--color-hcf-llight-beige: #fff6e9;
$--color-hcf-light-beige: #fcedd5;
$--color-hcf-beige: #f6e5c8;
$--color-hcf-dark-beige: #e9d4b9;
$--color-hcf-ddark-beige: #ccc5ba;
$--color-hcf-grey: #d2cec7;
$--color-hcf-light-grey: #d6d4d1;
$--color-hcf-dark-grey: #b5b5b5;

