// transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// .card-1:hover {
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//   }
// $--box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// $--box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// $--box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
// $--box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// $--box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 52, 41, 9, 0

$--box-shadow-1: 0 1px 3px rgba(37, 30, 6, 0.15), 0 1px 2px rgba(37, 30, 6, 0.29);
$--box-shadow-2: 0 3px 6px rgba(37, 30, 6, 0.21), 0 3px 6px rgba(37, 30, 6, 0.28);
$--box-shadow-3: 0 10px 20px rgba(37, 30, 6, 0.24), 0 6px 6px rgba(37, 30, 6, 0.28);
$--box-shadow-4: 0 14px 28px rgba(37, 30, 6, 0.30), 0 10px 10px rgba(37, 30, 6, 0.27);
$--box-shadow-5: 0 19px 38px rgba(37, 30, 6, 0.35), 0 15px 12px rgba(37, 30, 6, 0.27);
$--box-shadow-6: 0 19px 58px rgba(37, 30, 6, 0.45), 0 15px 32px rgba(37, 30, 6, 0.37);

$--box-shadow-dark-1: 0 1px 3px rgba(15, 12, 10, 0.2), 0 1px 2px rgba(15, 12, 10, 0.35);
$--box-shadow-dark-2: 0 3px 6px rgba(15, 12, 10, 0.27), 0 3px 6px rgba(15, 12, 10, 0.33);
$--box-shadow-dark-3: 0 10px 20px rgba(15, 12, 10, 0.29), 0 6px 6px rgba(15, 12, 10, 0.35);
$--box-shadow-dark-4: 0 14px 28px rgba(15, 12, 10, 0.35), 0 10px 10px rgba(15, 12, 10, 0.32);
$--box-shadow-dark-5: 0 19px 38px rgba(15, 12, 10, 0.40), 0 15px 12px rgba(15, 12, 10, 0.32);
$--box-shadow-dark-6: 0 19px 78px rgba(15, 12, 10, 0.65), 0 15px 55px rgba(15, 12, 10, 0.47);

$--box-shadow-brown-1: 0 1px 3px rgba(66, 43, 4, 0.2), 0 1px 2px rgba(66, 43, 4, 0.35);
$--box-shadow-brown-2: 0 3px 6px rgba(66, 43, 4, 0.27), 0 3px 6px rgba(66, 43, 4, 0.33);
$--box-shadow-brown-3: 0 10px 20px rgba(66, 43, 4, 0.29), 0 6px 6px rgba(66, 43, 4, 0.35);
$--box-shadow-brown-4: 0 14px 28px rgba(66, 43, 4, 0.35), 0 10px 10px rgba(66, 43, 4, 0.32);
$--box-shadow-brown-5: 0 19px 38px rgba(66, 43, 4, 0.40), 0 15px 12px rgba(66, 43, 4, 0.32);
$--box-shadow-brown-6: 0 19px 78px rgba(66, 43, 4, 0.65), 0 15px 55px rgba(66, 43, 4, 0.47);

$--text-shadow-1: 2px 2px 0 rgba(27, 22, 15, 0.2);
$--text-shadow-2: 3px 3px 0 rgba(27, 22, 15, 0.2);

$--box-shadow-inner-beige: inset 0 17px 61px 0 rgba(206,136,24,.35);
$--box-shadow-inner-brown: inset 0px 0px 20px 5px rgba(87, 58, 26,  0.10);